
  <nav>
    <div class="three col" id="bar">
        <div class="hamburger" id="hamburger-5">
          <span class="line"></span>
          <span class="line middle"></span>
          <span class="line"></span>
        </div>
      </div>
    <div class="name">Shape<span>Y</span>ou</div>
     <div class="login"><p style="font-weight:900;text-transform: capitalize;"><i class="fas fa-user" style="margin-right: 5px;color:cadetblue"></i><%= user.name %></p></div>
</nav>
<div class="menu">
  <div class="images">
      <div class="blog">
  <svg id="148311d9-c125-4449-a148-b8fa33f3c561" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="627.45" height="490" viewBox="0 0 627.45 759" style="    margin-left: -108px;
  margin-top: 8px;"><defs><linearGradient id="fe24b365-19a0-4a71-abdc-76e4b2fc8dee" x1="313.72" y1="759" x2="313.72" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="gray" stop-opacity="0.25"/><stop offset="0.54" stop-color="gray" stop-opacity="0.12"/><stop offset="1" stop-color="gray" stop-opacity="0.1"/></linearGradient><linearGradient id="f1e26e3d-9d52-4866-b24c-036458e443cc" x1="313.72" y1="455.23" x2="313.72" y2="213.09" gradientUnits="userSpaceOnUse">
  <stop offset="0" stop-color="#b3b3b3" stop-opacity="0.25"/><stop offset="0.54" stop-color="#b3b3b3" stop-opacity="0.1"/><stop offset="1" stop-color="#b3b3b3" stop-opacity="0.05"/></linearGradient></defs><title>blog</title><rect width="355" height="800" fill="url(#fe24b365-19a0-4a71-abdc-76e4b2fc8dee)"/>
  <rect x="0" y="5.49" width="520" height="736.45" fill="#fff"/>
  <rect x="50.71" y="52.74" width="240.74" height="19.72" fill="#64ffda"/>
  <rect x="50.71" y="92.18" width="420.03" height="19.72" fill="#e0e0e0"/>
  <rect x="50.71" y="131.63" width="270.03" height="19.72" fill="#e0e0e0"/>
  <rect x="46.44" y="213.09" width="286.56" height="216.78" fill="url(#f1e26e3d-9d52-4866-b24c-036458e443cc)"/>
  <rect x="51.18" y="216.78" width="286.03" height="131.2" fill="#ffffff"/>
  <rect x="50.71" y="310.74" width="240.74" height="19.72" fill="#64ffda"/>
  <rect x="50.71" y="500.18" width="420.03" height="19.72" fill="#e0e0e0"/>
  <rect x="50.71" y="540.63" width="270.03" height="19.72" fill="#e0e0e0"/>
  <rect x="50.71" y="600.63" width="400.03" height="100.72" fill="#e0e0e0"/>
</svg>
      </div>
  </div>
  <ul>
      <a href="/">
          <li><i class="fas fa-home"></i> Home
              <svg class="w-4 h-4 ml-2 arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
              </svg>
              </li></a>
       <a href="/blogs">
          <li><i class="fas fa-blog"></i> Blogs
              <svg class="w-4 h-4 ml-2 arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
              </svg>
              </li>
      </a>
      <li><i class="fas fa-restroom"></i> Reviews
      <svg class="w-4 h-4 ml-2 arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
      </svg>
      </li>
      <a href="/plans">
          <li><i class="fas fa-file-signature"></i> Plans
              <svg class="w-4 h-4 ml-2  arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
              </svg>
              </li></a>
      <li><i class="fas fa-poll"></i> Results
       <svg class="w-4 h-4 ml-2  arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
      </svg>
      </li>
      <li><i class="fas fa-sitemap"></i> About us
      <svg class="w-4 h-4 ml-2 arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M5 12h14"></path>
          <path d="M12 5l7 7-7 7"></path>
      </svg>
      </li>
      <a href="/logout">
          <li><i class="fas fa-power-off"></i> Logout
              <svg class="w-4 h-4 ml-2  arrow" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
              </svg>
              </li>
      </a>
  </ul>
</div>


<style>
    nav{
        background-color: #000;
        color: #fff;
    }
    .line{
        background-color: #fff;
    }
</style>