.dash-wraper{
    display: flex;
}
.side-nav{
    height: auto;
    width: 20%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow-y: scroll !important;
}

.side-nav .inner-image{
    /* background-image: url('https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 10%;
}
/* side nav */
#ul{
    list-style: none;
    margin-top: 50px;
    z-index: 9999999;
    display: block;
    width: 100%;
    margin-left: 20px;
    height: auto;
}
#ul a{
    text-decoration: none;
}
#ul #li{
    color: aliceblue;
    margin-top: 3px;
    padding: 16px 9px;
    margin-left: -18px;
    width: 100%;
    transition: .2s ease-in-out;
}
#ul #li:hover{
    margin-left: -30px;
    width: 96%;
    background-color: #1391ff;
    border: none;
    border-left: 10px solid #fff;
    transform: translateX(10px);
}
.focus{
    background-color: #1391ff;
    border: none;
    border-left: 10px solid #fff;
    transform: translateX(-1px); 
    width: 96.2% !important;
}
#left{
    transform: translateX(100px);
}
  .account-info{
      position: absolute;
      top: 7%;
      left: 60%;
      transform: translateX(-50%);
      margin-left: 10px;
  }
  #upload{
      padding: 8px 60px;
      margin-left: 50px;
      cursor: pointer;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 4px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  #images{
      height: 210px;
      width: 240px;
      background-color: rgba(0, 0, 0, 0.384);
      margin: 20px;
      cursor: pointer;
  }
  .main-container{
    height: auto;
    width: 80%;
    background-color: #eee;
}

/* center button */
.btn-center{
    padding: 8px 50px;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%,-50%);
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-image: linear-gradient(50deg,orange,rgb(255, 50, 84));
    background-size: 100%;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
/* focus for every page** */
.focus{
    background-color: #1391ff;
    border: none;
    border-left: 10px solid #fff;
    transform: translateX(-1px); 
    width: 96.2% !important;
}

/* title for blogs*/
#title{
    height: 40px;
    width: 50%;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #000;
    margin-left: 180px;
}
#title::placeholder{
    font-family: 'Rajdhani', sans-serif;
}
#blog-btn{
    padding: 11px 50px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}
#blog-pic{
    display: flex;
    height: 40px;
    margin-left: 180px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 0px;
}
label {
    display: flex;
    margin-left: 180px;
}
#writer{
    margin-left: 180px;
    border: 1px solid #000;
}

/* custom */
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
    /* border: 1px solid #999; */
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    /* font-weight: 700; */
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    /* border-color: black; */
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #050404, #302222);
    color: #1391ff;
  }

  #heading-center{
      padding: 20px 50px;
      line-height: 40px;
      background-color: azure;
      width: 89.6%;
      height: 40px;
      margin-bottom: 40px;
  }
  .sale{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}
  .salary-info{
      height: 300px;
      width: 94.9%;
      background-color: rgb(118, 160, 189);
      color: #fff;
      padding-left: 50px;
      padding-top: 20px;
  }

  /* emp Dash */
  .account-info{
    left: 40%;
    background-color: rgb(84, 93, 110);
    color: #fff;
    width: 60%;
    height: 350px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}